# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MONGODB_URI="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/db?retryWrites=true&w=majority"
DATABASE_URL="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/db?retryWrites=true&w=majority"
AUTH0_CLIENT_ID=loJnb3tFJZ92eYZjjb1n9DzD1v4DaCEs
AUTH0_CLIENT_SECRET=
AUTH0_ISSUER=https://dev-8czv-gtk.us.auth0.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=<your API key here>

https://next-auth.js.org/warnings#nextauth_url
NEXTAUTH_URL=https://example.com

# https://next-auth.js.org/configuration/options#secret
# generate with openssl rand -base64 32
NEXTAUTH_SECRET=